<%= link_to "글쓰기", new_article_path, :class => 'btn btn-default', :id => 'article_write_button' %>

<div style="max-width: 1200px; margin: 0 auto; padding: 10px;">
  <% @articles.each do |article| %>
      <div class="container article_container">
        <a href="<%= article_path(article) %>">
          <h2><%= article.title %></h2>
          <p><%= article.body.length > 300 ? article.body[0..300] + " . . ." : article.body %></p>
        </a>
      </div>
    <hr>
  <% end %>
</div>