<table class="table table-striped">
  <caption>현재 준비된 모든 컨텐츠</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">설명</th>
      <th scope="col">바로가기</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">업데이트 날짜 23.01.24</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>아티클 - 제일 먼저 추가된 제일 간단한 기능</td>
      <td><%= link_to ">>>", articles_path %></td>
    </tr>
    <tr>
      <td>TEMP2</td>
      <td>TEMP2</td>
    </tr>
    <tr>
      <td>TEMP3</td>
      <td>TEMP3</td>
    </tr>
  </tbody>
</table>